body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#container {
    width: 100vw;
    height: 100vh;
}

#coordinates {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#smoke-texture-preview {
    position: absolute;
    top: 10px;
    left: 120px; /* Position next to coordinates */
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

#infobox {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: white;
    background: linear-gradient(to bottom, #d3d3d3, #808080);
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    max-width: 300px;
    word-wrap: break-word;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#button-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

#toggle-visibility-btn {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#toggle-audio-button {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

#parameters-btn {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    z-index: 100;
}

#parameters-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 101;
    display: none;
}

#parameters-popup input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
}